*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg.jpg);
    background-size: cover;
}
.contact .contact{
    max-width: 800px;
    text-align: center;
}
.contact .contact h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.contact .contact p{
  
    font-weight: 300;
    color: #fff;
}